body {
 
  background: linear-gradient(90deg, #128d5ef5 70%, #116d4af5 70%), #2c2c1e;
  background-color: rgb(18, 117, 71);
  margin: 0;

    font-family: Cyber;
    src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
    font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

